
body {
     background: url("/static/gif/c1dce52cd09a252f64d1641892b5c1b0.gif"); 
    background-size: 100%;
}

a {
    color:rgb(64, 36, 117);
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 50%;
    margin-right: 50%;
    padding: auto;
}