<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Темы</title>
</head>
<body>
    {% for subject in subjects %}
        <a href="/subjects/{{ subject.id }}">{{ subject.title }}</a>
        <br>
    {% endfor %}
</body>
</html>
