<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Комменты</title>
</head>

<body>
    <h1>Что думают о {{ subject.title }}</h1>

    <div>
        <i>
            {{ subject.description }}
        </i>
    </div>

    <hr>

    <div>
        {% for post in comments %}
        <div class="post">
            <div class="title">{{ post.title }}</div>
            <div class="text">{{ post.text }}</div>
            <i>{{ format_time(post.timestamp) }}</i>
        </div>
        {% endfor %}

        <hr>

        <form method="POST">
            Title: <input required name="title" type="text">
            <br>
            <br>
            <textarea required name="text" cols="30" rows="10"></textarea>
            <br>
            <button type="submit">Отправить!</button>
        </form>
    </div>
    <a href="/subjects/{{ subject.id }}/delete/all"> <button>delete</button></a>
</body>

</html>